{% extends "base.html" %}
{% load static %}
{% block header %}class="header--main-page"{% endblock %}
{%  block content %}
      <div class="slogan container container--90">

        <div class="slogan--item">
          <h1>
            Zacznij pomagać!<br />
            Oddaj niepotrzebne rzeczy w zaufane ręce
          </h1>
        </div>
      </div>
    </header>

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em>{{ quantity }}</em>
          <h3>Oddanych worków</h3>
          <p>Dzięki ludziom dobrej woli, zebraliśmy już aż {{ quantity }} worków ubrań, zabawek, sprzętu AGD, a nawet jedzenia.</p>
        </div>

        <div class="stats--item">
          <em>{{ supported_institutions.count }}</em>
          <h3>Wspartych organizacji</h3>
          <p>Wspieramy tylko zweryfikowane instytucje</p>
        </div>
      </div>
    </section>

    <section id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="{% url 'register' %}#register" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Każdy z nas ma w domu rzeczy, których chce się pozbyć, ale nie wie jak. My też! Szkoda wyrzucać, przecież można komuś pomóc. Właśnie tak zrodził się w naszych głowach pomysł na stworzenie miejsca, w którym każdy będzie mógł oddać niepotrzebne rzeczy zaufanym instytucjom.</p>
      </div>
      <div class="about-us--image"><img src="{% static 'images/aboutus.jpg' %}" alt="People in circle" /></div>
    </section>

     <section id="help" class="help">
      <h2>Komu pomagamy?</h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="#" class="btn btn--without-border active">Fundacjom</a></li>
        <li data-id="2"><a href="#" class="btn btn--without-border">Organizacjom pozarządowym</a></li>
        <li data-id="3"><a href="#" class="btn btn--without-border">Lokalnym zbiórkom</a></li>
      </ul>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>

        <ul class="help--slides-items">
            {% for foundation in foundations %}
          <li>
            <div class="col">
              <div class="title">{{ foundation.name }}</div>
              <div class="subtitle">{{ foundation.description }}</div>
            </div>

            <div class="col">
                <div class="text">
                {{ foundation.categories.all|join:", " }}
                </div>
            </div>
          </li>
            {% endfor %}
        </ul>
      </div>


      <!-- SLIDE 2 -->
      <div class="help--slides" data-id="2">
        <p>
          Pomagamy również wszelkim organizacjom pozarządowym i charytatywnym, które nie są Fundacjami. Są to nasi Partnerzy, który zrobią dobry pożytek z rzeczy, które do nich trafią.
        </p>
        <ul class="help--slides-items">
            {% for NGO in NGOs %}
          <li>
            <div class="col">
              <div class="title">{{ NGO.name }}</div>
              <div class="subtitle">{{ NGO.description }}</div>
            </div>

            <div class="col"><div class="text">
                {{ NGO.categories.all|join:", " }}
            </div></div>
          </li>
            {% endfor %}
        </ul>
      </div>

      <!-- SLIDE 3 -->
      <div class="help--slides" data-id="3">
        <p>Wspieramy lokalne zbiórki organizowane przez indywidualne osoby, którym zależy na dobru społeczności, w której żyją. Sam też możesz zorganizować taką zbiórkę i pomóc tym, którzy są najbliżej.</p>
        <ul class="help--slides-items">
            {% for collection in local_collections %}
          <li>
            <div class="col">
              <div class="title">{{ collection.name }}</div>
              <div class="subtitle">{{ collection.description }}</div>
            </div>

            <div class="col"><div class="text">
                {{ collection.categories.all|join:", " }}
            </div></div>
          </li>
            {% endfor %}
        </ul>
      </div>
    </section>
{% endblock %}
